<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="byName">
    <!-- DataSource -->       
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    	<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost/lms"/>
		<property name="user" value="root"/>
		<property name="password" value="root"/>
		<property name="maxPoolSize" value="15"/>
		<property name="minPoolSize" value="2"/>
		<property name="initialPoolSize" value="2"/>
		<property name="maxIdleTime" value="100"/>
    </bean>
    <!-- SessionFactroy -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="mappingResources">
	        <list>
	        	<value>lms/hbm/Student.hbm.xml</value>
	        	<value>lms/hbm/LmsLog.hbm.xml</value>
	        </list>
	    </property>
	    <property name="hibernateProperties">
	        <value>
	            hibernate.dialect=org.hibernate.dialect.MySQLDialect
	            hibernate.show_sql=true
	        </value>
	    </property>
	</bean>
    <!-- Dao -->
    <bean id="managerDao" class="lms.dao.impl.ManagerDaoMysqlImpl"/>
    <bean id="typeDao" class="lms.dao.impl.TypeDaoMysqlImpl"/>
    <bean id="bookDao" class="lms.dao.impl.BookDaoMysqlImpl"/>
    <bean id="studentDao" class="lms.dao.impl.StudentDaoHbImpl"/>
    <bean id="lmsLogDao" class="lms.dao.impl.LmsLogDaoHbImpl"/>
    <!-- Service -->
    <bean id="bookUploadService" class="lms.service.impl.BookUploadServiceSegmentsImpl">
    	<property name="bookDir">
    		<value>E:\test\book</value>
    	</property>
    	<property name="imgDir">
    		<value>E:\test\image</value>
    	</property>
    	<property name="swfDir">
    		<value>E:\test\swf</value>
    	</property>
    </bean>
	<!--Book HiloUtil-->
	<bean id="hiloUtil" class="util.HiloUtil"/>
	<bean id="conver" class="util.TypeConver4WinPdfSegments">
		<property name="common">
			<value>D:\Program Files\SWFTools\pdf2swf.exe</value>
		</property>
		<property name="definition" value="20"></property>
	</bean>
</beans>